.secondB {
  display: flex;
  background-image: url("./../../../public/Fondo_Bloque_2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: calc(100vh - 115px);
  flex-direction: column;
}
.parag1 {
  color: #9b7c52;
  font-size: 30px;
  font-family: "OldStyle 1 HPLHS";
}

.parag2 {
  color: #f6e4d1;
  font-size: 45px;
  font-family: "OldStyle 1 HPLHS";
}

.paragContainer {
  align-items: center;
  justify-content: center;
  text-align: center;
}
.bookContainer {
  flex-direction: row;
  display: flex;
  justify-content: space-around;
}
