.secondB {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url("./../../../public/Fondo_Bloque_2.png");
  /* background-image: url("https://trello.com/1/cards/649007df0dfb1ff6b5d244ea/attachments/649009e58fcbbf7ae5d698d6/previews/649009e88fcbbf7ae5d69dda/download/pexels-stanislav-kondratiev-2908984.jpg"); */
  background-size: cover; /* This will make the background image cover the entire body */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  background-attachment: fixed; /* Keep the background image fixed while scrolling */
  height: calc(100vh - 115px);
  flex-direction: column;
}
.parag1 {
  color: #9b7c52;
  font-size: 30px;
  font-family: "OldStyle 1 HPLHS";
}

.parag2 {
  color: #f6e4d1;
  font-size: 45px;
  font-family: "OldStyle 1 HPLHS";
}

.bookContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.firstBook {
  background-image: url("./../../../public/cesarismodemocratico.JPEG");
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px; /* Adjust the width to make it slightly bigger */
  height: 400px; /* Adjust the height proportionally to maintain the aspect ratio */
  text-shadow: white 0px 0px 2px;
  font-size: 16px;
}
.secondBook {
  background-image: url("./../../../public/delbuensalvaje.JPEG");
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px; /* Adjust the width to make it slightly bigger */
  height: 400px; /* Adjust the height proportionally to maintain the aspect ratio */
  text-shadow: white 0px 0px 2px;
  font-size: 16px;
}
.thirdBook {
  background-image: url("./../../../public/librorojo.JPEG");
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px; /* Adjust the width to make it slightly bigger */
  height: 400px; /* Adjust the height proportionally to maintain the aspect ratio */
  text-shadow: white 0px 0px 2px;
  font-size: 16px;
}
.fourthBook {
  background-image: url("./../../../public/historiagrafica.JPEG");
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px; /* Adjust the width to make it slightly bigger */
  height: 400px; /* Adjust the height proportionally to maintain the aspect ratio */
  text-shadow: white 0px 0px 2px;
  font-size: 16px;

  /* background-image: url("./../../../public/historiagrafica.JPEG");
  background-size: 300px;
  width: 300px;
  height: 450px;
  border: 2px solid;
  text-shadow: white 0px 0px 2px;
  font-size: 16px; */
}

/* .firstContent {
  color: white;
  width: 100%;
  font-family: "Roboto";
}

.mainTitle {
  color: white;

  font-size: 65px;
}

.search {
  width: 260px;
  border: 1px solid white;
  display: block;
  padding: 9px 4px 9px 40px;
  background: transparent url("/assets/search.svg") no-repeat 13px;
} */
