.fourthB {
  height: calc(100vh - 115px);
  background-color: #9b7c52;
  display: flex;
  justify-content: flex-start;
  background-size: contain;
  background-repeat: repeat;
  flex-direction: column;
}

.frameContainer {
  display: flex;
  justify-content: space-around;
}
