.fourthB {
  /* height: calc(100vh - 115px); */
  background-color: #9b7c52;
  display: flex;
  justify-content: flex-start;
  background-size: contain;
  background-repeat: repeat;
  flex-direction: column;
  padding-top: 100px;
}

.frameContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
