.questionB {
  display: flex;
  text-align: left;
  background-size: cover;
  background-attachment: fixed;
  height: calc(100vh - 115px);
  background-color: #2d2a27;
}

.socialQuestion {
  color: #f6e4d1;
  font-family: "OldStyle 1 HPLHS";
  font-size: 55px;
}

.noteQuestion {
  font-family: "OldStyle 1 HPLHS";
  font-size: 35px;
  color: #9b7c52;
}
