.questionB {
  display: flex;
  align-items: center;
  background-size: cover;
  background-attachment: fixed;
  height: calc(100vh - 115px);
  background-color: #2d2a27;
  justify-content: center;
  text-align: center;
  background-size: cover;
  flex-direction: column;
}

.socialQuestion {
  color: #f6e4d1;
  font-family: "OldStyle 1 HPLHS";
  font-size: 55px;
}

.noteQuestion {
  font-family: "OldStyle 1 HPLHS";
  font-size: 35px;
  color: #9b7c52;
}

.identityQuestion {
  font-size: medium;
  background-color: #f6e4d1;
  width: 700px;
  border-radius: 15px;
  border: 1px solid beige;
  padding: 9px 4px 9px 40px;
  margin: 0 auto;
  display: block;
  font-family: "Oldstyle 1 HPLHS";
  outline: none;
}

.formQuestion {
  font-family: "OldStyle 1 HPLHS";
  font-size: 20px;
  color: #b3b3b3;
  text-align: left;
}

.visitorQuestion {
  font-size: medium;
  background-color: #f6e4d1;
  width: 700px;
  height: 600px;
  border-radius: 15px;
  border: 1px solid beige;
  padding: 9px 4px 9px 40px;
  margin: 0 auto;
  display: block;
  font-family: "Oldstyle 1 HPLHS";
  outline: none;
}
