.fifthB {
  background-image: url("./../../../public/Fondo_Bloque_5.png");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  height: calc(100vh - 115px);
  position: sticky;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

.infoContainer {
  color: white;
  font-family: "OldStyle 1 HPLHS";
  font-size: 75px;
  border: 10px solid gray;
  margin-bottom: 80px;
  margin-right: -900px;
}
.clickContainer {
  font-family: "OldStyle 1 HPLHS";
  font-size: 45px;
  color: white;
  background-color: #9b7c52;
  border-radius: 25px;
  margin-right: -900px;
}
